.header{
    background-color: yellow;
    
    padding: 25px;
    text-align: center;
}
.mainpage {
   
    
     
    width: auto;
    height: auto;
}




@media screen  and (max-width:400px){
    
        
    }
   
}
