*{
    margin: 0;
    padding: 0;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,sans-serif ;
}
a{
    text-decoration: none;
}
.container{
    min-width: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .section-title{
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin: bottom 10px; ;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;

}
 .section-title span{
    color: crimson;
}



.start{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:top  center;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(./img/rino.jpg);
    background-color: aqua;


    
    

}
.start h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    
}
.start h1:nth-child(1){
    animation-delay: 1s;
}
.start h1:nth-child(2){
    animation-delay: 2s;
}
.start h1:nth-child(3){
    animation-delay: 3s;
}
.start h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5;

}
.start h1:nth-child(1) span{
    animation-delay: .3s
}
.start h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.start h1:nth-child(3) span{
    animation-delay: 2.5s;
}
.start .cta{

    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color,color;

}
.start .cta:hover{
    color: white;
    background-color: crimson;
}
.start .start{
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    justify-content: flex-start;
}
header{
    text-align: center;
    
}

.center
{display: block;}

.center h1 span{
    position: absolute;
    top: 0;

    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
   
    
}


ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    transition: 0.4s ease;
    color: #fff;
    padding: 5px 20px;
    
    border: 1px solid #fff;
    
}
ul li a:hover{
    background-color: white;
    color: black;
}
ul li.active a {
    background-color: white;
    color: black

}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main {
    max-width: 1600px;
    margin: auto;
}

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;

    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}



/*project*/
.projects {

}
#projects .projects {

    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    

}
.projects .section-title{
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin: bottom 10px; ;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;

}
.projects .section-title span{
    color: crimson;
}
.projects .projects-items{

    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
    padding: 200px;
    border-radius: 10px;
    background-image: url(./img/project\ item\ 2.jpg);
    background-size: cover;
    margin: 10px 5%;
    
}
.projects .projects-items{
    font-size: 20px;
    text-align: left;
    color: #fff;
}


.projects .projects-items1{

    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
    padding: 200px;
    border-radius: 10px;
    background-image: url(./img/project\ iteam\ 1.jpg);
    background-size: cover;
    margin: 10px 5%;
    
}


.projects .projects-items1{
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.projects .projects-items2{

    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
    padding: 200px;
    border-radius: 10px;
    background-image: url(./img/projet\ itam\ 3.jpg);
    background-size: cover;
    margin: 10px 5%;
    
}
.projects .projects-items2{
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.projects .projects-items3{

    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
    padding: 200px;
    border-radius: 10px;
    background-image: url(./img/v68vjyus.bmp);
    background-size: cover;
    margin: 10px 5%;
    
}
.projects .projects-items3{
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.projects .projects-items4{

    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
    padding: 200px;
    border-radius: 10px;
    background-image: url(./img/project\ iteam\ 5.webp);
    background-size: cover;
    margin: 10px 5%;
    
}
.projects .projects-items4{
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.projects .projects-items p{
    color: #fff;
    font-size: 20px;
}
.projects .projects-items h2{
    color: #fff;
    font-size: 30px;
}

.projects .projects-top p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;

}
.projects .projects-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.PAGE2{

    height: 100vh;
    width: 100vh;
    background-color:red; 
    position: relative;
}
.PAGE2 >video{
    height: 100%;
    width: auto;
    object-fit: cover;
    background-size: contain;
    background-size: cover;
    align-items: center;

    
    
}
.PAGE2 .page-bottom{
    
   
    position: absolute;
    bottom: 5%;
    left: 10%;
    height: 35vh;
    width: 50vh;
    

}
.PAGE2 .page-bottom h1{
    
    font-family: none;
    font-weight: 100;
    line-height: 1 ;
    font-size: 3vw;
    color: white;
}
.PAGE2 .page-bottom-inner{
    height: 30%;
    width: 100%;
    position: absolute;
    

}
.PAGE2 .page-bottom-inner{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.PAGE2 .page-bottom-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: blueviolet;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.PAGE2 .page-bottom-inner>h4{
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
}
/*event section*/
#events .events{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    

}
#events .events-header h1{
    margin-bottom: 50px;

}
#events .all-events{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#events .events-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;


}
.events .events-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg,#29323c,#485563 100%);
    color: white;

}
#events .events-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#events .events-info p{
    font-size: medium;
}
#events .events-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#events .events-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
}
#events .events-img img{
    transform: .3s ease transform;
}
#events .events-items:hover .events-img img{
    transform: scale(1.1);
}

/*end event*/






@media only screen and (min-width:400px)
{
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;

    }
    h1.section-title{
        font-size: 6rem;
    }

    #start h1{
        font-size: 7rem;
    }

    #project .projects-bottom .projects-items{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #project .projects-bottom .projects-items1{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #project .projects-bottom .projects-items2{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #project .projects-bottom .projects-items3{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #project .projects-bottom .projects-items4{
        flex-basis: 45%;
        margin: 2.5%;
    }
    
#events .events-items{
    flex-direction: column;
}
#events .events-items{
    height: 100%;
    margin: 400px;
    width: 100%;
    border-radius: 0;

}

#events .all-events .events-info{
    height: 50%;

}
#events .all-events .events-img{
    height: 50%;
}
}

